services:
  db:
    image: postgres:18
    restart: unless-stopped
    environment:
      POSTGRES_USER: deltamass_user
      POSTGRES_PASSWORD: deltamass_pass
      POSTGRES_DB: deltamass_db
    volumes:
      - db_data:/var/lib/postgresql
    expose:
      - "5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgres://deltamass_user:deltamass_pass@db:5432/deltamass_db
      - PORT=8000
    depends_on:
      - db
    expose:
      - "8000"
    command: sh -c "./backend"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  db_data:
